

#answer_div {
  padding-top: 20px;
}

#answer_button_pair {
    margin-top: 10px;
    text-align: center;
}

#answer_button_impair {
    text-align: center;
    margin-bottom: 10px;
}

#validate_button {
   	text-align: center;
}
