

#answer_div {
  padding-top: 20px;
}

#answer_button_pair {
    margin-top: 10px;
}

#answer_button_impair {
    margin-bottom: 10px;
}

#validate_button {
    position : absolute;
    margin-left : 82px;
}